name: Build and deploy
on:
  release:
    types: ['published']
  workflow_dispatch:
permissions:
  contents: read
  deployments: write
  packages: write
  id-token: write
concurrency:
  group: pages
  cancel-in-progress: false
defaults:
  run:
    shell: bash
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BASE_URL: https://www.einsteinersllc.com
      DART_SASS_VERSION: 1.93.2
      GO_VERSION: 1.25.3
      HUGO_VERSION: 0.152.2
      NODE_VERSION: 22.20.0
      TZ: Europe/Oslo
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0
          
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false
          
      - name: Create directory for user-specific executable files
        run: |
          mkdir -p "${HOME}/.local"
          
      - name: Install Hugo
        run: |
          curl -sLJO "https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz"
          mkdir "${HOME}/.local/hugo"
          tar -C "${HOME}/.local/hugo" -xf "hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz"
          rm "hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz"
          echo "${HOME}/.local/hugo" >> "${GITHUB_PATH}"
          
      - name: Verify installations
        run: |
          echo "Dart Sass: $(sass --version)"
          echo "Go: $(go version)"
          echo "Hugo: $(hugo version)"
          echo "Node.js: $(node --version)"
          echo "runner.temp: ${{ runner.temp }}"
          echo "github.run_id: ${{ github.run_id }}"
          echo "github.repository: ${{ github.repository }}"

      - name: Configure Git
        run: |
          git config core.quotepath false

      - name: Hugo mod tidy
        run: |
          hugo mod tidy

      - name: Build the site
        run: |
          hugo \
            --gc \
            --minify \
            --baseURL "${{ env.BASE_URL }}/" \
            --cacheDir "${{ runner.temp }}/hugo_cache"

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:

      - name: start deployment
        uses: bobheadxi/deployments@v1
        id: deployment
        with:
          step: start
          token: ${{ secrets.GITHUB_TOKEN }}
          env: release
          desc: "depl_id: ${{ github.event.deployment.id }}, ref_id: ${{ github.head_ref }}"

      - name: init deployment variables
        id: set_variables
        run: |
          echo ::set-output name=BUILD_RELEASE::${GITHUB_REF#refs/tags/}
          echo ::set-output name=BUILD_RELEASE_MAJOR::`echo ${GITHUB_REF%%.*} | awk -F/ '{ print v$3; }'`
          echo ::set-output name=BUILD_RELEASE_NUMBER::`echo ${GITHUB_REF#refs/tags/v}`
          echo ::set-output name=BUILD_DATE::`date -u +'%Y-%m-%dT%H:%M:%SZ'`
          echo ::set-output name=BUILD_REPO::$(echo ${GITHUB_REPOSITORY} | awk -F/ '{ print $2; }')
          
      - name: print deploymnet variables
        run: |
          echo $BUILD_RELEASE
          echo $BUILD_RELEASE_MAJOR
          echo $BUILD_RELEASE_NUMBER
          echo $BUILD_DATE
          echo $BUILD_REPO
        env:
          BUILD_RELEASE: ${{ steps.set_variables.outputs.BUILD_RELEASE }}
          BUILD_RELEASE_MAJOR: ${{ steps.set_variables.outputs.BUILD_RELEASE_MAJOR }}
          BUILD_RELEASE_NUMBER: ${{ steps.set_variables.outputs.BUILD_RELEASE_NUMBER }}
          BUILD_DATE: ${{ steps.set_variables.outputs.BUILD_DATE }}
          BUILD_REPO: ${{ steps.set_variables.outputs.BUILD_REPO }}
          
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        if: success()
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./docker/Dockerfile
          build-args: |
            BUILD_DATE=${{ env.BUILD_DATE }}
            BUILD_REVISION=${{ github.sha }}
            BUILD_VERSION=${{ github.sha }}
            BUILD_REPO=${{ steps.set_variables.outputs.BUILD_REPO }}
            BUILD_RELEASE_NUMBER=${{ steps.set_variables.outputs.BUILD_RELEASE_NUMBER }}
          target: app
          push: true
          tags: |
            ghcr.io/ivankuchin/${{ steps.set_variables.outputs.BUILD_REPO }}:${{ steps.set_variables.outputs.BUILD_RELEASE }}
            ghcr.io/ivankuchin/${{ steps.set_variables.outputs.BUILD_REPO }}:${{ steps.set_variables.outputs.BUILD_RELEASE_MAJOR }}
            ghcr.io/ivankuchin/${{ steps.set_variables.outputs.BUILD_REPO }}:latest

      - name: finish deployment
        uses: bobheadxi/deployments@v1
        if: always()
        with:
          step: finish
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          env: ${{ steps.deployment.outputs.env }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}

          
